
@import url('https://fonts.googleapis.com/css?family=Slabo+27px');

.App {
  text-align: center;
  font-family: 'Slabo 27px', serif;
  width: 100%;
  background-color: #FEFDFB;
}

h1 {
  font-weight: normal;
  font-size: 42px;
}

body {
    background-color: #FEFDFB;
}

.namesList {
  list-style: none;
  padding: 0;
  font-size: 32px;
  margin-bottom: 2em;
}

.more {
  font-size: 32px;
  font-family: 'Slabo 27px', serif;
  border: 2px solid #000;
  background-color: #FEFDFB;
  padding: 10px 25px;
}
.more:hover {
  background-color: #86E380;
}
.more:active {
  background-color: #86E380;
}

.centre-div
{
     margin: 0 auto;
     width: 600px;
}

.padded-top
{
  padding-top: 50px;
}
